<%- include('partials/header') %>

    <!-- Main Container -->
    <main id="main-container">

        <!-- Hero -->
        <div class="bg-image overflow-hidden" style="background-image: url('assets/media/photos/photo3@2x.jpg');">
            <div class="bg-primary-dark-op">
                <div class="content content-full">
                    <div
                        class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center mt-5 mb-2 text-center text-sm-start">
                        <div class="flex-grow-1">
                            <h1 class="fw-semibold text-white mb-0">Federeterziario</h1>
                            <h2 class="h4 fw-normal text-white-75 mb-0">Benvenuto <%= name %>
                            </h2>
                        </div>
                        <div class="flex-shrink-0 mt-3 mt-sm-0 ms-sm-3 adminbuttons">
                            <span class="d-inline-block">
                                <a class="btn btn-primary px-4 py-2" data-toggle="click-ripple"
                                    href="/register">
                                    <i class="fa fa-plus me-1 opacity-50"></i> Nuovo Utente
                                </a>
                                <a class="btn btn-primary px-4 py-2" data-toggle="click-ripple" href="/nuovo-corso">
                                    <i class="fa fa-plus me-1 opacity-50"></i> Nuovo Corso
                                </a>
                                <a class="btn btn-primary px-4 py-2" data-toggle="click-ripple"
                                    href="/register-azienda">
                                    <i class="fa fa-plus me-1 opacity-50"></i> Nuova Azienda
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Hero -->

        <!-- Page Content -->
        <div class="content">
            
            <!-- Customers and Latest Orders -->
            <div class="row row-deck">
                <!-- Latest Aziende -->
                <div class="col-lg-6">
                    <div class="block block-rounded block-mode-loading-oneui">
                        <div class="block-header block-header-default">
                            <h3 class="block-title">Ultime aziende inserite</h3>
                            <div class="block-options">
                                <button type="button" class="btn-block-option" data-toggle="block-option"
                                    data-action="state_toggle" data-action-mode="demo">
                                    <i class="si si-refresh"></i>
                                </button>
                            </div>
                        </div>
                        <div class="block-content block-content-full">
                            <table class="table table-striped table-hover table-borderless table-vcenter fs-sm mb-0">
                                <thead>
                                    <tr class="text-uppercase">
                                        <th class="fw-bold" style="width: 80px;">ID</th>
                                        <th class="d-none d-sm-table-cell fw-bold text-center" style="width: 100px;">
                                            Sede legale</th>
                                        <th class="fw-bold">Ragione sociale</th>
                                        <th class="d-none d-sm-table-cell fw-bold text-center">
                                            Corsi prenotati</th>
                                        <th class="fw-bold text-center" style="width: 60px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i=0; i < rows.length; i++) { %>
                                        <tr>
                                            <td>
                                                <span class="fw-semibold">#<%= rows[i].id %></span>
                                            </td>
                                            <td class="fw-semibold">
                                                <%= rows[i].sedelegale %>
                                            </td>
                                            <td class="fw-semibold">
                                                <%= rows[i].ragionesociale %>
                                            </td>
                                            <td class="d-none d-sm-table-cell text-center">
                                                <a class="link-fx fw-semibold" href="javascript:void(0)">{numero
                                                    corsi}</a>
                                            </td>
                                            <td class="text-center">
                                                <a href="javascript:void(0)" data-bs-toggle="tooltip"
                                                    data-bs-placement="left" title="Modifica">
                                                    <i class="fa fa-fw fa-pencil-alt"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END Aziende Customers -->

                <!-- Latest Orders -->
                <div class="col-lg-6">
                    <div class="block block-rounded block-mode-loading-oneui">
                        <div class="block-header block-header-default">
                            <h3 class="block-title">Ultimi corsi inseriti</h3>
                            <div class="block-options">
                                <button type="button" class="btn-block-option" data-toggle="block-option"
                                    data-action="state_toggle" data-action-mode="demo">
                                    <i class="si si-refresh"></i>
                                </button>
                            </div>
                        </div>
                        <div class="block-content block-content-full">
                            <table class="table table-striped table-hover table-borderless table-vcenter fs-sm mb-0">
                                <thead>
                                    <tr class="text-uppercase">
                                        <th class="fw-bold">ID</th>
                                        <th class="d-none d-sm-table-cell fw-bold">Date</th>
                                        <th class="fw-bold">State</th>
                                        <th class="d-none d-sm-table-cell fw-bold text-end" style="width: 120px;">
                                            Price</th>
                                        <th class="fw-bold text-center" style="width: 60px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i=0; i < rows.length; i++) { %>
                                    <tr>
                                        <td>
                                            <span class="fw-semibold">#07835</span>
                                        </td>
                                        <td class="d-none d-sm-table-cell">
                                            <span class="fs-sm text-muted"> <%= rows[i].sedelegale %></span>
                                        </td>
                                        <td>
                                            <span class="fw-semibold text-warning">Pending..</span>
                                        </td>
                                        <td class="d-none d-sm-table-cell text-end">
                                            <%= rows[i].ragionesociale %>
                                        </td>
                                        <td class="text-center">
                                            <a href="javascript:void(0)" data-bs-toggle="tooltip"
                                                data-bs-placement="left" title="Manage">
                                                <i class="fa fa-fw fa-pencil-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END Latest Orders -->
            </div>
            <!-- END Customers and Latest Orders -->
        </div>
        <!-- END Page Content -->
    </main>
    <!-- END Main Container -->
    
<%- include('partials/footer') %>