<%- include('partials/header') %>
    <div>
        <div style="padding: 100px 20px;">
            <label class="form-label" for="idazienda">Di quale azienda vuoi vedere i gruppi?</label>
            <select class="js-select2 form-select" id="idazienda" name="idazienda" style="width: 100%;"
                onChange="window.location.href=this.value" data-placeholder="Scegli utente">
                <option></option>
                <!-- Required for data-placeholder attribute to work with Select2 plugin -->
                <% aziende.forEach(function(azienda){ %>
                    <option value="/struttura:<%= azienda.id %>">
                        <%= azienda.ragionesociale %>
                    </option>
                    <% }) %>
            </select>
        </div>
        <div style="padding: 10% 0 0;">
            <% groups.forEach(function(group){ %>
                <div class="block block-rounded">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">
                            <%= group.titolo %>
                        </h3>
                    </div>
                    <div class="block-content">
                        <p class="fs-sm text-muted">
                            <%= group.sottotitolo %>
                        </p>

                    </div>
                    <table class="table table-bordered table-striped table-vcenter">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 100px;">
                                    <i class="far fa-user"></i>
                                </th>
                                <th>Nome</th>
                                <th class="d-none d-md-table-cell" style="width: 30%;">Mansione</th>
                                <th>Email</th>
                                <th>Sede operativa</th>

                            </tr>
                        </thead>
                        <tbody>
                            <% for(i=0;i<rows.length;i++){ %>
                                <% if(String(rows[i].idgruppo)===String(group.id)) {  %>
                                    <tr>
                                        <td class="text-center">
                                            <img class="img-avatar img-avatar48" src="assets/media/avatars/avatar7.jpg"
                                                alt="">
                                        </td>
                                        <td class="fw-semibold fs-sm">
                                            <a href="/libretto/:<%= rows[i].id   %>">
                                                <%= rows[i].name %>
                                            </a>
                                        </td>
                                        <td class="d-none d-md-table-cell fs-sm">
                                            <%= rows[i].mansione %>
                                        </td>
                                        <td class="d-none d-md-table-cell fs-sm">
                                            <%= rows[i].email %>
                                        </td>
                                        <td class="d-none d-md-table-cell fs-sm">
                                            <%= rows[i].sedeoperativa %>
                                        </td>
                                    </tr>
                                    <% }else {  }%>
                                    <%  }  %>
                        </tbody>
                    </table>
                    <% }) %>
                </div>
        </div>

    </div>

    <%- include('partials/footer') %>